// colors

$color-1: #1035AD;
$color-2: #1C45C7;
$color-3: #FA3C0A;
$color-4: #AAFB48;
$color-5: #AD3718;

// fonts

$headline-font: 'Fjalla One', sans-serif;
$body-font: 'Roboto Condensed', sans-serif;


// z-index

$content-zindex: 1001;
$layer-nav-zindex: 2000;
$nav-zindex: 3000;
$layer-content-zindex: 4000;
$trigger-zindex: 5000;
