// colors

$color-1: rgba(16, 53, 173, .5);
$color-2: #1c45c7;
$color-3: #fa3c0a;
$color-4: #aafb48;
$color-5: #ad3718;
$grey: #b2b6b7;
$white: #fff;

// fonts

$headline-font: 'Fjalla One', sans-serif;
$body-font: 'Roboto Condensed', sans-serif;


// z-index

$content-zindex: 1001;
$layer-nav-zindex: 2000;
$nav-zindex: 3000;
$layer-content-zindex: 4000;
$trigger-zindex: 5000;
