@import '{wolves:bourbon}/bourbon'; // http://bourbon.io/

@import 'partials/variables'; // colors, fonts etc...

@import 'partials/mixins'; // custom mixins

@import 'partials/layout'; // responsive grid and media queries


 //scss-lint:disable IdSelector Indentation, Comment, TrailingWhitespace, SingleLinePerSelector VendorPrefix PropertySortOrder DeclarationOrder NameFormat


// -------------------------------
// Primary style


*, *::after, *::before {
	@include box-sizing(border-box);
}

*::after, *::before {
	content: '';
}

body {
	background-color: $color-3;
	color: $color-1;
	font: {
		family: $primary-font; // variables inside partials > _variables.scss
		size: 100%;
	}
}

a {
	color: $color-2;
	text-decoration: none;
}

/* --------------------------------

Main components

-------------------------------- */

html, body {
	height: 100%;
}

header {
	z-index: $nav-zindex;
}

.cd-logo, .cd-nav-trigger {
	display: inline-block;
	position: fixed;
}

.cd-logo {
	left: 5%;
	top: 28px;

	img {
		display: block;
	}
}

.cd-nav-trigger {
	height: 44px;
	right: 5%;
	top: 18px;
	width: 44px;
	z-index: $trigger-zindex;
	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	.cd-icon {
		/* icon created in CSS */
		@include center; // mixin inside partials > _mixins.scss
		background-color: $color-4;
		display: inline-block;
		height: 3px;
		position: absolute;
		width: 18px;
		z-index: 10;

		&::before, &:after {
			/* upper and lower lines of the menu icon */
			/* Force Hardware Acceleration in WebKit */
			@include transform(translateZ(0));
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			background-color: $color-4;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			/* apply transition to transform property */
			-moz-transition: -moz-transform .3s;
			-webkit-transition: -webkit-transform .3s;
			transition: transform .3s;
			width: 100%;
		}

		&::before {
			@include transform(translateY(-6px) rotate(0deg));
		}

		&::after {
			@include transform(translateY(6px) rotate(0deg));
		}
	}

	&::before, &::after {
		/* 2 rounded colored backgrounds for the menu icon */
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
		height: 100%;
		width: 100%;
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		@include transition-property(transform);
	}

	&::before {
		background-color: $color-1;
		@include transform(scale(1));
		@include transition-duration(.3s);
		@include transition-delay(.4s);
	}

	&::after {
		background-color: $color-3;
		@include transform(scale(0));
		@include transition-duration(0s);
		@include transition-delay(0s);
	}

	&.close-nav::before {
		/* user clicks on the .cd-nav-trigger element - 1st rounded background disappears */
		@include transform(scale(0));
	}

	&.close-nav::after {
		/* user clicks on the .cd-nav-trigger element - 2nd rounded background appears */
		@include transform(scale(1));
		@include transition-duration(.3s);
		@include transition-delay(.4s);
	}

	&.close-nav .cd-icon {
		/* user clicks on the .cd-nav-trigger element - transform the icon */
		background-color: rgba($color-4, 0);

		&::before, &::after {
			background-color: rgba($color-4, 1);
		}

		&::before {
			@include transform(translateY(0) rotate(45deg));
		}

		&::after {
			@include transform(translateY(0) rotate(-45deg));
		}
	}
}

.cd-primary-nav {
	/* by default it's hidden */
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 80px 5%;
	z-index: $nav-zindex;
	background-color: $color-1;
	overflow: auto;
	/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
	-webkit-overflow-scrolling: touch;
	visibility: hidden;
	opacity: 0;
	@include transition(visibility 0s, opacity .3s);

	li {
		margin: 1.6em 0;
		text-align: center;
		text-transform: capitalize;
	}

	a {
		@include font-size(20px);
		@include font-smoothing;
		@include transition(color .2s);

		.no-touch &:hover {
			color: $color-4;
		}
	}

	&.fade-in {
		/* navigation visible at the end of the circle animation */
		visibility: visible;
		opacity: 1;
	}

	@include MQ(M) {
		li {
			margin: 2em 0;
		}

		a {
			@include font-size(28px);
		}
	}

	@include MQ(L) {
		li {
			margin: 2.6em 0;
		}

		a {
			@include font-size(32px);
		}
	}
}

.cd-overlay-nav, .cd-overlay-content {
	/* containers of the 2 main rounded backgrounds - these containers are used to position the rounded bgs behind the menu icon */
	position: fixed;
	top: 18px;
	right: 5%;
	height: 4px;
	width: 4px;
	@include transform(translateX(-20px) translateY(20px));

	span {
		display: inline-block;
		position: absolute;
		border-radius: 50%;
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		will-change: transform;
		@include transform-origin(50% 50%);
		@include transform(scale(0));
	}

	&.is-hidden {
		/* background fades out at the end of the animation */
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity .3s 0s, visibility 0s .3s;
		-moz-transition: opacity .3s 0s, visibility 0s .3s;
		transition: opacity .3s 0s, visibility 0s .3s;
	}
}

.cd-overlay-nav {
	/* main rounded colored bg 1 */
	z-index: $layer-nav-zindex;

	span {
		background-color: $color-1;
	}
}

.cd-overlay-content {
	/* main rounded colored bg 2 */
	z-index: $layer-content-zindex;

	span {
		background-color: $color-3;
	}
}

.cd-content {
	/* just some dummy content */
	padding: 50px;
	//width: 90%;
	max-width: 80vw;
	margin: 0 auto;
	z-index: $content-zindex;

	.cd-intro {
		height: 150px;
		padding-top: 2em;
	}

	h1 {
		text-align: center;
		@include font-size(20px);
	}

	p {
		line-height: 1.5;
		color: darken($color-3, 30%);
	}

	@include MQ(M) {

		h1 {
			@include font-size(28px);
		}

		p {
			@include font-size(18px);
			line-height: 1.8;
		}
	}


}

.map-container {
	position: relative;
	//background: darken($color-3, 30%);
}

#map {
	height: 70vh;
}

#login-buttons {
    position: relative;
    left: 4em;
    top: 1em;
}
